.Register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #05000c;
}

/* Left Image Section - REMOVED */

/* Register Form Section */
.Register-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Register-form {
  background: #06000e;
  padding: 40px;
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  border: 2px solid #a855f7;
  box-shadow: 0 0 15px #a855f7;
  text-align: center;
}
.Register-form img{
  width: 60px;
  height: 60px;
}

.Register-form h2 {
  margin-bottom: 30px;
  color: #dad0d0;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 5px rgba(106,17,203,0.5);
}

button {
  width: 100%;
  padding: 12px;
  background: #6a11cb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2575fc;
}

.login-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  color: #6a11cb;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .Register-form {
    width: 90%;
    padding: 30px 20px;
  }
}
